body, html, #root {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7f7; /* Subtle background color */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  height: 100vh; /* Full viewport height */
}

.App-header h1 {
  margin: 20px 0;
  color: #333; /* Darker text color for contrast */
  font-size: 2rem; /* Larger font size for the heading */
}

.welcome-frame {
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  background-color: #ffffff; /* White background for the frame */
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  width: 80%; /* Responsive width */
  max-width: 600px; /* Maximum width */
  align-self: center; /* Ensure this also centers itself */
}

.maze-container {
  margin-top: 1rem; /* Add a top margin for spacing */
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Add some space between the cells for a clearer layout */
}

.maze-cell {
  background-color: #ffffff; /* Cell background color */
  border: 1px solid #333333; /* Cell wall color */
}

.player {
  background-color: #ff6347; /* Player color */
  width: 10%; /* Much smaller player dot */
  height: 10%; /* Much smaller player dot */
  border-radius: 50%; /* Circular player dot */
  align-self: center; /* Center the player dot in the cell */
  justify-self: center;
}

.maze-cell.start-cell {
  background-color: #4CAF50; /* Start cell color */
}

.maze-cell.finish-cell {
  background-color: #f44336; /* Finish cell color */
}

@media (max-width: 768px) {
  .welcome-frame {
    padding: 10px;
  }
}
